.gamescreen {
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  /* z-index: -10; */
  margin-bottom: 5rem;
  transition: all 0.3s ease-in-out;
}

.gamescreen.show {
  transform: translate(-50%, -50%);
}

.game__details {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__image {
  width: 100%;
}
.game__image > img {
  cursor: pointer;
  width: 100%;
  height: 550px;
  border-radius: 0px 0px 15px 15px;
  object-fit: cover;
}

.game__text__details {
  margin-top: 2rem;
  width: 800px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__name {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  font-size: 2.2rem;
  color: white;
}
.game__name > p {
  padding: 1rem 0rem;
  margin-bottom: 12px;
}
.game__likes {
  font-size: 35px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.game__likes:hover {
  color: #f72585;
}
.info__released {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid black;
  padding: 1rem 0rem 1rem 0rem;
}

.info__released > p {
  font-weight: 500;
  font-size: 1.3rem;
  color: #5b5c5b;
}

.info__released > span {
  font-weight: 600;
  font-size: 1.3rem;
}
.info__rating1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  border-bottom: 1px solid black;
  padding: 1rem 0rem 1rem 0rem;
}

.info__rating1 > p {
  font-weight: 500;
  color: #5b5c5b;
  font-size: 1.3rem;
}
.info__rating1 > span {
  font-weight: 600;
  font-size: 1.3rem;
}

.info__meta1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid black;
  padding: 1rem 0rem 1rem 0rem;
}

.info__meta1 > p {
  font-weight: 500;
  color: #5b5c5b;
  font-size: 1.3rem;
}

.info__meta1 > span {
  font-weight: 600;
  font-size: 1.3rem;
}

.above_70 {
  color: #30cf74;
}
.above50 {
  color: #d9901c;
  border: 2px solid #d9901c;
}
.under50 {
  color: #d9481c;
  border: 2px solid #d9481c;
}

.info__play1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid black;
  padding: 1rem 0rem 1rem 0rem;
}

.info__play1 > p {
  font-weight: 500;
  color: #5b5c5b;
  font-size: 1.3rem;
}

.info__play1 > span {
  font-weight: 600;
  font-size: 1.3rem;
}
.info__genres1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid black;
  padding: 1rem 0rem 1rem 0rem;
}

.info__genres1 > p {
  font-weight: 500;
  color: #5b5c5b;
  font-size: 1.3rem;
}

.info__genres1 > span {
  font-weight: 600;
  display: grid;
  font-size: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.info__platforms1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 1rem 0rem 1rem 0rem;
}

.info__platforms1 > p {
  font-weight: 500;
  color: #5b5c5b;
  font-size: 1.3rem;
}

.info__platforms1 > span {
  font-weight: 600;
  display: grid;
  font-size: 1.3rem;
  gap: 8px;
  grid-template-columns: repeat(5, 1fr);
}

.game__exit {
  cursor: pointer;
  font-size: 25px;
  color: white;
  padding: 0px;
  background-color: transparent;
  border: 0;
  transition: 0.3s ease-in-out;
}

.game__exit:hover {
  color: #f72585;
}

@media (max-width: 1400px) {
  .gamescreen {
  }
}

@media (max-width: 1200px) {
  .gamescreen {
  }
}

@media (max-width: 950px) {
  .gamescreen {
  }
  .game__name > p {
    padding-bottom: 0px;
    font-size: 30px;
    text-align: center;
  }
  .game__name {
    display: flex;
    flex-direction: column;
  }

  .game__details {
    display: flex;
    flex-direction: column;
  }
  .info__platforms1 > p {
    padding: 0rem 1rem 0rem 5rem;
  }
  .info__platforms1 > span {
    padding: 0rem 1rem 0rem 5rem;
    font-weight: 600;
    display: flex;
    font-size: 1.2rem;
    gap: 30px;
    flex-direction: row;
  }
  .info__released > p {
    padding: 0rem 1rem 0rem 5rem;
  }
  .info__released > span {
    padding: 0rem 1rem 0rem 5rem;
  }

  .info__rating1 > p {
    padding: 0rem 1rem 0rem 5rem;
  }
  .info__rating1 > span {
    padding: 0rem 1rem 0rem 5rem;
  }

  .info__meta1 > p {
    padding: 0rem 1rem 0rem 5rem;
  }
  .info__meta1 > span {
    padding: 0rem 1rem 0rem 5rem;
  }
  .info__genres1 > p {
    padding: 0rem 1rem 0rem 5rem;
  }
  .info__genres1 > span {
    padding: 0rem 1rem 0rem 5rem;
  }
  .info__play1 > p {
    padding: 0rem 1rem 0rem 5rem;
  }
  .info__play1 > span {
    padding: 0rem 1rem 0rem 5rem;
  }
  .game__exit {
    display: none;
  }
}

@media (max-width: 800px) {
  .gamescreen {
  }
  .game__name > p {
    padding-bottom: 0px;
    font-size: 30px;
    text-align: center;
  }
  .game__name {
    display: flex;
    flex-direction: column;
  }
  .game__likes {
    padding-bottom: 15px;
    font-size: 25px;
  }
  .game__details > div > img {
  }
  .info__released > p {
    font-weight: 500;
    font-size: 1.1rem;
    color: #5b5c5b;
    padding: 0rem 1rem 0rem 4rem;
  }

  .info__released > span {
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0rem 1rem 0rem 3rem;
  }
  .info__rating1 > p {
    font-size: 1.1rem;
    padding: 0rem 1rem 0rem 4rem;
  }
  .info__rating1 > span {
    font-size: 1.1rem;
    padding: 0rem 1rem 0rem 3rem;
  }

  .info__meta1 > p {
    font-size: 1.1rem;
    padding: 0rem 1rem 0rem 4rem;
  }
  .info__meta1 > span {
    font-size: 1.1rem;
    padding: 0rem 1rem 0rem 3rem;
  }

  .info__play1 > p {
    font-size: 1.1rem;
  }
  .info__play1 > span {
    font-size: 1.1rem;
    padding: 0rem 1rem 0rem 3rem;
  }

  .info__genres1 > p {
    font-size: 1.1rem;
    padding: 0rem 1rem 0rem 4rem;
  }
  .info__genres1 > span {
    font-size: 1.1rem;
    padding: 0rem 1rem 0rem 3rem;
  }
  .info__play1 > p {
    font-size: 1.1rem;
    padding: 0rem 1rem 0rem 4rem;
  }
  .info__play1 > span {
    font-size: 1.1rem;
    padding: 0rem 1rem 0rem 3rem;
  }

  .info__platforms1 > p {
    font-size: 1.1rem;
    padding: 0rem 1rem 0rem 4rem;
  }
  .info__platforms1 > span {
    font-size: 1.1rem;
    padding: 0rem 1rem 0rem 3rem;
  }
  .game__details {
    display: flex;
    flex-direction: column;
  }
}
